@import url("https://fonts.googleapis.com/css2?family=Inika&family=Montserrat:wght@300;600&family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,400;0,6..72,600;1,6..72,200;1,6..72,400;1,6..72,600;1,6..72,700;1,6..72,800&family=Noto+Sans:wght@400;600&family=Oswald:wght@400;600&family=Roboto:wght@400;500;700&family=Satisfy&display=swap");

:root {
  --police: "Montserrat", sans-serif;
  --headColor: #26adff;
  --colsColor: #91caf7;
  --celColor: #edf0ff;
  --textColor: #08a4fb;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
}
.main_background_text{
    color: var(--celColor);
    font-size: 3rem;
    font-family: var(--police);
    display: flex;
    justify-content:center;

}
h1 {
  font-family: var(--police);
  justify-content: center;
}
.main_background {
  background-image: url(img/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  flex: 2;
  height: 100vh;
}
.main_formulaire {
  flex: 2;
  padding: 20rem;
  height: 81.5vh;
}
form {
  width: 75%;
  height: 90%;
  font-family: var(--police);
}
input {
  width: 90%;
  border-radius: 0.5rem;
  height: 3rem;
  border: none;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border: 1px solid gray;
  outline-color: blue;
}
.link {
  display: flex;
  justify-content: flex-end;
}
a {
  color: var(--colsColor);
}
.connexion {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
button {
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: rgb(47, 47, 243);
  color: white;
  transition: 0.25s ease-out;
}
button:hover {
  background-color: white;
  color: rgb(47, 47, 243);
  border: 1px solid blue;
  transform: scale(1.1);
}

.options {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
hr {
  width: 40%;
  height: 0.1rem;
  background-color: gray;
}
.icon img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}
.logos {
  margin-top: 30rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

